.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 325px;
    /* min-height: 40%; */
    padding: 50px;
    background: #515458;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

}

.modal-content {
    width: 100%;
    position: relative;
    text-align: center;
    display: grid;
}

.close-button {
    position: absolute;
    top: -50px;
    right: 1px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
    padding: 0;
    opacity: 0.9;
    border-radius: 10px;

}

.modal-content h1 {
    font-family: MT-bold-italic;
    color: #F6F4F4;
}


#logInButton,
#registerButton  {
    width: 313px;
    height: 35px;
    border: 2px solid #F6F4F4;
    border-radius: 20px;
    font-family: MT-semibold;
    cursor: pointer;
    font-size: 15px;
    /* background-color: #515458; */
}

#username, 
#password {
    height: 30px;
    width: 300px;
    border-radius: 20px;
    padding-left: 14px;
    color: #F6F4F4;
    font-size: 15px;
    border: 2px solid #F6F4F4;
    background-color: #515458;
}


#register:hover,
#logIn:hover {
    transform: scale(1.07);
    background: none;
}

#noAccount {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: MT-semibold;
    font-size: 13px;
    color: #F6F4F4;
}

#logIn,
#register {
    border: none;
    background-color: #515458;
    cursor: pointer;
    font-family: MT-semibold;
    color: #F6F4F4;
}