@font-face {
    font-family: MT-medium;
    src: url(../../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: MT-black;
    src: url(../../fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: MT-extrabold;
    src: url(../../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: MT-semibold;
    src: url(../../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MT-bold-italic;
    src: url(../../fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
}


#userContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* LIKES */

#userNamePage {
    display: flex;
    justify-content: center;
    font-family: MT-black;
    margin: 40px 0 40px 0;
    font-size: 2.5rem;
    color: #F6F4F4;
}

#mainLikeReviweBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1100px;
    gap: 40px;
}

#likeContainer {
    background-color: #51545899;
    border: 2px solid #F6F4F4;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    border-top: none;
    height: 500px;
}

#likeMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#likeMovieBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    gap: 20px;
}

.likedMovie {
    border: 1.3px solid #F6F4F4;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2.5px;
    justify-self: center;
    place-self: center;
    height: 290px;
    width: 194px;
    display: flex;
    text-align: center;
}

.likedMovie>p {
    display: none;
    background: rgb(40, 66, 99, 0.8);
    justify-content: center;
    align-items: center;
    font-family: MT-semibold;
    border-radius: 3px;
    color: #F6F4F4;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.likedMovie:hover>p {
    display: flex;
}

.likedMovie:hover {
    box-shadow: 1px 1px 20px #F6F4F4;
    cursor: pointer;
}

.likeTitle {
    display: flex;
    justify-content: center;
    font-family: MT-black;
    color: #F6F4F4;
    font-size: 2rem;
}

#likedTop {
    display: flex;
    flex-direction: column;
    background-color: #1d2f47;
    position: sticky;
    top: 0;
}


/* REVEWES */

#reviewContainer {
    border: 2px solid #F6F4F4;
    background-color: #51545899;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    border-top: none;
    height: 500px;
}

#reviewTop {
    display: flex;
    flex-direction: column;
    background-color: #1d2f47;
    position: sticky;
    top: 0;
}

.reviewTitle {
    display: flex;
    justify-content: center;
    font-family: MT-black;
    color: #F6F4F4;
    font-size: 2rem;
}

#reviewBottom {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.reviewHeader {
    font-family: MT-medium;
    color: #F6F4F4;
    font-size: 14px;
}

.reviewText {
    display: flex;
    justify-content: space-between;
    font-family: MT-extrabold;
    font-size: 14px;
}

.userSpan {
    font-family: MT-medium;
    font-size: 12px;
}

.reviewInfo {
    margin: 0;
    font-size: 13px;
    color: #F6F4F4;
    padding-bottom: 20px;
    font-family: MT-italic;
    border-bottom: 1.5px solid #F6F4F4;
}

#topText {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    width: 1110px;
    margin: 0 0;
}

#likes,
#reviews {
    border: 2px solid #F6F4F4;
    background-color: #51545899;
    border-radius: 8px 8px 0 0;
}

#likes {
    margin: 0 25px 0px 0px;
}

#reviews {
    margin: 0 10px 0 15px;
}


.deleteButton {
    width: 18px;
    height: 20px;
    cursor: pointer;
    margin-top: 16px;
    border-radius: 5px;
}

.reviewText>img:hover {
    transform: scale(1.07);
    filter: drop-shadow(0 1px 6px #F6F4F4);
}