header {
    background-color: rgba(0, 2, 20, 0.7);
    /*0.779 */
    font-family: LM-medium;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#headerMiddle p {
    font-size: 50px;
    color: #F6F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-left: 80px;
}

#logo {
    height: 70px;
    margin: 15px;
    cursor: pointer;
}

/* img {
    height: 70px;
    margin: 15px;
    cursor: pointer;
} */

#headerRight {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#login {
    height: 35px;
    width: 85px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: MT-bold-italic;
}

#userName {
    color: white;
    font-size: 12px;
    margin-right: 30px;
}

