header {
    background-color: rgba(0, 2, 20, 0.7);
    /*0.779 */
    font-family: LM-medium;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#headerMiddle p {
    font-size: 50px;
    color: #F6F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    /* margin-left: 204px; */
}

#logo {
    height: 60px;
    margin: 15px;
    cursor: pointer;
    margin-left: 25px;
}

/* img {
    height: 70px;
    margin: 15px;
    cursor: pointer;
} */

#headerRight {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#login {
    height: 35px;
    width: 85px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-right: 11px;
    font-size: 18px;
    font-family: MT-bold-italic;
}

/* #logout {
    height: 35px;
    width: 85px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-right: 11px;
    font-size: 18px;
    font-family: MT-bold-italic;
} */

#userName {
    color: #F6F4F4;
    font-size: 21px;
    margin-right: 30px;
    cursor: pointer;
    font-family: MT-bold-italic;;
}

