
body {
    background-image: url(../../images/background/space-7709489_1920.jpg);
    background-repeat: no-repeat;
    object-fit: cover;

    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#mainBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(178, 178, 178, 0.408);
    border: 2px solid #F6F4F4;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px;
    height: 530px;
    width: 1000px;
}

#infoText {
    font-family: MT-bold-italic;
    margin: 50px 0 auto;
    color: #F6F4F4;
    text-align: center;
    font-size: 20px;
}

#mainButton {
    font-family: MT-bold-italic;
    padding: 10px 30px;
    border-radius: 40px;
    margin-bottom: 45px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
}

.posterDiv {
    display: flex;
    background-position: center;
    border: 1.5px solid #F6F4F4;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.9s;
    border-radius: 5px;
    text-align: center;
    height: 240px;
    margin: 10px;
}

.posterDiv>p {
    display: none;
    background: rgb(40, 66, 99, 0.8);
    justify-content: center;
    align-items: center;
    font-family: MT-semibold;
    border-radius: 3px;
    color: #F6F4F4;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin: 0;
}

.posterDiv:hover {
    box-shadow: 1px 1px 20px #F6F4F4;
    cursor: pointer;
}

.posterDiv:hover>p {
    display: flex;
}