/* #000214 */
/* #284263 */
/* #515458 */
/* #F6F4F4 */

@font-face {
    font-family: LM-medium;
    src: url(./fonts/lemon-milk-font/LemonMilkMedium-mLZYV.otf);
}

@font-face {
    font-family: MT-bold-italic;
    src: url(./fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
}


body {
    margin: 0;
}

