

/* FONTS */

@font-face {
    font-family: LM-medium;
    src: url(./fonts/lemon-milk-font/LemonMilkMedium-mLZYV.otf);
}

@font-face {
    font-family: MT-medium;
    src: url(../../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: MT-black;
    src: url(../../fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: MT-extrabold;
    src: url(../../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: MT-semibold;
    src: url(../../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MT-bold-italic;
    src: url(../../fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: MT-medium-italic;
    src: url(../../fonts/Montserrat/static/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: MT-italic;
    src: url(../../fonts/Montserrat/static/Montserrat-Italic.ttf);
}


body {
    margin: 0;
}


/* COLORS  */

/* #000214 */
/* #284263 */
/* #515458 */
/* #F6F4F4 */

