
header {
    background-color: rgba(0, 2, 20, 0.7);
    font-family: LM-medium;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#headerMiddle p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #F6F4F4;
    margin: 15px;
}

#headerLeft {
    position: absolute;
    left: 0px;
}

#logo {
    height: 60px;
    margin: 15px;
    cursor: pointer;
    margin-left: 25px;
    transition: transform 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.07);
    filter: drop-shadow(0 9px 6px rgb(246, 231, 8));
}

#headerRight {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    width: 200px;
    right: 0px;
    gap: 10px;
}

#login {
    height: 35px;
    width: 85px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 18px;
    font-family: MT-bold-italic;
}

#logincont {
    margin-right: 20px;
}

#userbtn {
    background-image: url("../../icons/user.png");
    height: 44px;
    cursor: pointer;
    margin-right: 20px;
}

#userbtn:hover {
    transform: scale(1.07);
    filter: drop-shadow(0 1px 6px #F6F4F4);
}
