
/* LOGIN */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 35%;
    height: 325px;
    padding: 50px;
    z-index: 1000;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, visibility 0.3s;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background: #515458b5;
    transition: ease-in-out;
    visibility: hidden;
}

.modal-content {
    width: 100%;
    position: relative;
    text-align: center;
    display: grid;
}

.close-button {
    position: absolute;
    top: -50px;
    right: 1px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.modal.active,
.overlay.active {
    visibility: visible;
    border-radius: 10px;
    opacity: 1;
    padding: 0;
}

.modal-content h1 {
    font-family: MT-bold-italic;
    color: #F6F4F4;
}

#loginForm,
#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#passwordHolder {
    position: relative;
    width: 329px;
}

#logInButton,
#registerButton {
    border: 2px solid #F6F4F4;
    font-family: MT-semibold;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    width: 313px;
    height: 35px;
}

#username,
#password {
    border: 2px solid #F6F4F4;
    background-color: #515458;
    border-radius: 20px;
    padding-left: 14px;
    color: #F6F4F4;
    font-size: 15px;
    height: 30px;
    width: 300px;
}

#newUsername,
#newPassword {
    border: 2px solid #F6F4F4;
    background-color: #515458;
    border-radius: 20px;
    padding-left: 14px;
    color: #F6F4F4;
    font-size: 15px;
    height: 30px;
    width: 300px;
}


#register:hover,
#logIn:hover {
    transform: scale(1.07);
}

#noAccount {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: MT-semibold;
    font-size: 13px;
    color: #F6F4F4;
}

#logIn,
#register {
    font-family: MT-semibold;
    color: #F6F4F4;
    cursor: pointer;
    background: none;
    border: none;
}

#eye {
    display: none;
}

.custom-checkbox {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 8%;
    right: 30px;
    width: 10px;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox label {
    background-image: url('../../icons/hidden.png');
    background-size: cover;
    display: inline-block;
    cursor: pointer;

    width: 20px;
    height: 20px;
}

.custom-checkbox input[type="checkbox"]:checked+label {
    background-image: url('../../icons/eye.png');
}