/* MAIN */

#mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    z-index: 1;
}

#mainMovieBox {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 2fr;
    background-color: #51545899;
    border: 2px solid #F6F4F4;
    border-radius: 8px;
    margin-top: 50px;
    margin: 30px;
    height: 677px;
    width: 1300px;
    margin: 50px;
}

#mainLeft {
    display: grid;
    grid-row: span 2;
    margin: 30px;
}

#bigPoster {
    background-image: url(./images/posters/a-clockwork-orange.jpeg);
    background-image: url(./images/posters/2001-a-space-odyssey.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1.5px solid #F6F4F4;
    border-radius: 5px;
    height: 100%;
    width: 400px;
}

#topRight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1.5px solid #F6F4F4;
    margin-bottom: 10px;
    margin-right: 30px;
    color: #F6F4F4;
    margin-top: 50px;
    height: 200px;
}


#bottomRight {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


#info,
#similarmoviesinfo {
    display: flex;
    justify-content: center;
    font-family: LM-medium;
    margin-bottom: 25px;
    margin-left: -30px;
    font-size: 15px;
    color: #F6F4F4;
}

#simularMovies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0px 30px 30px 0;
    gap: 20px;
}

.smallPosters:hover {
    box-shadow: 1px 1px 20px #F6F4F4;
    cursor: pointer;
}

.smallPosters:hover>p {
    display: flex;
}


.smallPosters {
    display: flex;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1.3px solid #F6F4F4;
    border-radius: 3.5px;
    height: 150px;
}

.smallPosters>p {
    display: none;
    align-items: center;
    justify-content: center;
    font-family: MT-semibold;
    background: rgb(40, 66, 99, 0.8);
    border-radius: 2.5px;
    color: #F6F4F4;
    font-size: 13px;
    padding: 5px;
    width: 100%;
    margin: 0;
}


#title {
    font-family: LM-medium;
    font-size: 25px;
}

#aboutMovie {
    font-family: MT-medium;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}


#userTextInput {
    display: grid;
    grid-column: 2;
    height: 60px;
    opacity: 0.65;
    border: 2px solid #9b9b9b;
    font-family: MT-semibold;
    border-radius: 5px;
    margin-top: -95px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 16px;
    padding-left: 15px;
}

#topReviews {
    display: grid;
}

#addReview {
    display: grid;
    overflow-y: auto;
    grid-template-rows: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 230px;
}

.review {
    font-family: MT-bold-italic;
    font-size: 12px;
    margin: 5px 20px 5px 20px;
    padding-bottom: 12px;
    color: #F6F4F4;
    margin-top: 0;
}

.review>h3 {
    font-family: MT-medium;
    font-size: 15px;
    color: #F6F4F4;
    margin-top: 0;
}

.reviewSpan {
    font-family: MT-extrabold;
    font-size: 15px;
    color: #F6F4F4;
}

#review>p {
    font-family: MT-medium-italic;
    font-size: 13px;
    color: #F6F4F4;
}


#firstBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 50px;
}

#secondbox {
    height: 50px;
}

#thirdbox {
    height: 100px;
}

#secondbox>h2 {
    font-family: MT-medium;
    margin-bottom: 10px;
    margin-top: 0;
}

#firstBox>h1 {
    font-family: LM-medium;
    margin: 0;
}

.heart {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#heartfill {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
