<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./renderUserPage.css">
    <title>Document</title>
</head>
<body>
    <div id="userContainer">
        <h1 id="userName">User Name</h1>
        <div id="mainLikeReviweBox">
            <div id="likeContainer">
                <div id="likeMain">
                    <h2 class="likeTitle">Likes</h2>
                </div>
                <div id="likeMovieBox">
                        <div id="likedMovie"></div>
                        <div id="likedMovie"></div>
                        <div id="likedMovie"></div>
                        <div id="likedMovie"></div>
                    </div>
                </div>
            
            <div id="reviewContainer">
                <div id="reviewTop">
                    <h2 class="reviewTitle">Reviews</h2>
                </div>
                <div id="reviewBottom">
                    <div id="reviewHeader"> 
                        <div class="reviewText">
                            <h3>Review by: <span class="userSpan">SpaceFan01</span></h3>
                            <h3>/ DUNE Part II /</h3>
                        </div>
                        <p>Yeah the film bros are right…you need to see this...</p>
                    </div>
                    <div id="reviewHeader"> 
                        <div class="reviewText">
                            <h3>Review by: <span class="userSpan">SpaceFan01</span></h3>
                            <h3>/ DUNE Part II /</h3>
                        </div>
                        <p>Yeah the film bros are right…you need to see this...</p>
                    </div>
                    <div id="reviewHeader"> 
                        <div class="reviewText">
                            <h3>Review by: <span class="userSpan">SpaceFan01</span></h3>
                            <h3>/ DUNE Part II /</h3>
                        </div>
                        <p>Yeah the film bros are right…you need to see this...</p>
                    </div>
                    <div id="reviewHeader"> 
                        <div class="reviewText">
                            <h3>Review by: <span class="userSpan">SpaceFan01</span></h3>
                            <h3>/ DUNE Part II /</h3>
                        </div>
                        <p>Yeah the film bros are right…you need to see this...</p>
                    </div>
                    <div id="reviewHeader"> 
                        <div class="reviewText">
                            <h3>Review by: <span class="userSpan">SpaceFan01</span></h3>
                            <h3>/ DUNE Part II /</h3>
                        </div>
                        <p>Yeah the film bros are right…you need to see this...</p>
                    </div>
                </div>
            </div>

        </div>
    </div> 
</body>





