@font-face {
    font-family: MT-medium;
    src: url(../../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: MT-black;
    src: url(../../fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: MT-extrabold;
    src: url(../../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: MT-semibold;
    src: url(../../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MT-bold-italic;
    src: url(../../fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
}



body {
    background-image: url(../../images/background/space-7709489_1920.jpg);
    color: whitesmoke;

    object-fit: cover;
    background-size: cover;
    background-position: center;
    
}

#userContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* LIKES */

#userNamePage {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: MT-black;
    margin-bottom: 0;
}

#mainLikeReviweBox {
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

#likeContainer {
    background-color: #51545899;
    border: 2px solid #F6F4F4;
    border-radius: 10px;
    overflow-y: auto;
    height: 550px;
}
#likeMain {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#likeMovieBox {
    /* background-image: url(../../images/posters/2001-a-space-odyssey.jpeg); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 40px;
}
#likedMovie {
  border: 2px solid #F6F4F4;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 200px;
  justify-self: center;
  place-self: center;
}

.likeTitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: MT-black;
}

#likedTop {
display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #1d2f47;
}


/* REVEWES */

#reviewContainer {
    border: 2px solid #F6F4F4;
    background-color: #51545899;;
    border-radius: 10px;
    overflow-y: auto;
    height: 550px;
}

#reviewTop {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #1d2f47;
}

.reviewTitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: MT-black;
}

#reviewBottom {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#reviewHeader {
    border-bottom: 2px solid #F6F4F4;
    font-family: MT-medium;
}

.reviewText {
    display: flex;
    justify-content: space-between;
}

.userSpan {
    font-family: MT-extrabold;
}

#topText {
    display: flex;
    justify-content: space-around;
}