@font-face {
    font-family: MT-medium;
    src: url(../../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: MT-black;
    src: url(../../fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: MT-extrabold;
    src: url(../../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: MT-semibold;
    src: url(../../fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MT-bold-italic;
    src: url(../../fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
}


#userContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* LIKES */

#userNamePage {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: MT-black;
    /* margin: 70px 0 50px 0; */
    margin: 40px 0 40px 0;
    color: whitesmoke;
}

#mainLikeReviweBox {
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

#likeContainer {
    background-color: #51545899;
    border: 2px solid #F6F4F4;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    height: 500px;
    border-top: none;
}
#likeMain {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#likeMovieBox {
    /* background-image: url(../../images/posters/2001-a-space-odyssey.jpeg); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

#likedMovie {
  border: 1.3px solid #F6F4F4;
  border-radius: 2.5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 200px;
  justify-self: center;
  place-self: center;
}

.likeTitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: MT-black;
    color: #F6F4F4;
}

#likedTop {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #1d2f47;
}


/* REVEWES */

#reviewContainer {
    border: 2px solid #F6F4F4;
    background-color: #51545899;;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    height: 500px;
    border-top: none;
}

#reviewTop {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #1d2f47;
}

.reviewTitle {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: MT-black;
    color: #F6F4F4;
}

#reviewBottom {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#reviewHeader {
    border-bottom: 1.5px solid #F6F4F4;
    font-family: MT-medium;
    padding-bottom: 12px;
    font-size: 14px;
    color: #F6F4F4;
}


.reviewText {
    display: flex;
    justify-content: space-between;
    font-family: MT-medium;
    font-size: 14px;
    flex-direction: column;
}

.userSpan {
    font-family: MT-extrabold;
    font-size: 20px;
}

.reviewMovie {
    font-family: MT-medium;
    font-size: 14px;
    margin-top: 0;
}

#topText {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    width: 1110px;
    margin: 0 0;
}

#likes,
#reviews {
    border: 2px solid #F6F4F4;;
    border-radius: 8px 8px 0 0;
    background-color: #51545899;
}

#likes {
    margin: 0 25px 0px 0px;
}

#reviews {
    margin: 0 10px 0 15px;
}


#deleteButton {
    width: 50px;
    background-color: #51545899;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    height: 25px;
}